<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/resume/resume.pdf" target="_blank">Resume</a></li>
	        		<li><a href="https://www.linkedin.com/in/rick-seufert-10b63b50" target="_blank">LinkedIn</a></li>
	        		<li><a href="https://soundcloud.com/the-rick" target="_blank">SoundCloud</a></li>
	        		<li><a href="https://www.facebook.com/sickreufert" target="_blank">Facebook</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:rickseufert@gmail.com">email</a></li>
	        		<li><a href="https://github.com/rseufert">github.com/rseufert</a></li>
				</ul>
			</footer>
		</body>
	</html>
